.intro__img[data-v-4080c900] {
  grid-row: 1/3;
}

.intro__img[data-v-4080c900] {
  grid-area: img;
}

.polaroid[data-v-4080c900] {
  width: 180px;
  height: 220px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(120deg, #fff, #ddd 60%);
  box-shadow: 0 0 22px -4px rgba(0, 0, 0, 0.6),
    inset 4px 5px 10px 0 rgba(0, 0, 0, 0.1) !important;
  margin: 0;
  padding: 1rem 0.5rem 0;
  transform: rotate(3deg);
  transform-origin: top;
  transition: all 0.5s ease;
  color: var(--color-grey-dark);
}

*,
:after,
:before {
  box-sizing: inherit;
}

figure {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}

.polaroid[data-v-4080c900]:before {
  content: "";
  position: absolute;
  top: 0.5rem;
  transform: translateY(-50%);
  height: 0.5rem;
  width: 0.5rem;
  background: var(--color-black);
  border-radius: 50%;
  box-shadow: 0 0 2px 2px rgb(0 0 0 / 60%);
}

.polaroid__img.shine[data-v-4080c900] {
  position: -webkit-sticky;
  position: sticky;
}

.polaroid__img[data-v-4080c900] {
  width: 100%;
  height: 80%;
  background-color: #000;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.polaroid__img img[data-v-4080c900] {
  -webkit-animation: polaroid-data-v-4080c900 3.5s ease;
  animation: polaroid-data-v-4080c900 3.5s ease;
  width: 100%;
}

img {
  height: auto;
  max-width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img {
  border-style: none;
}

.polaroid figcaption[data-v-4080c900] {
  font-family: "Rock Salt", sans-serif;
  letter-spacing: 0.1em;
  font-size: 1rem;
  display: flex;
  align-items: center;
  flex: 1;
}
