<section class="intro">
  <div class="content">
    <div class="content__container">
      <p class="content__container__text">I like</p>

      <ul class="content__container__list">
        <li class="content__container__list__item">front-end &amp; UI/UX</li>
        <li class="content__container__list__item">self-development</li>
        <li class="content__container__list__item">tea ☕</li>
        <li class="content__container__list__item">ice hockey 🏒</li>
        <li class="content__container__list__item">to think 🤔</li>
        <li class="content__container__list__item">sunny holidays 🌞</li>
        <li class="content__container__list__item">Disney</li>
      </ul>
    </div>
  </div>
</section>
